<!DOCTYPE html>
<html
  lang="pt-br"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>CiberPizza - Paixão e Inovação</title>

    <link rel="shortcut icon" href="assets/img/logo.png" type="image/x-icon" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="assets/css/style.css" />
  </head>
  <body>
    <header>
      <div class="container d-flex justify-content-between p-2">
        <div class="d-flex justify-content-between">
          <div class="item px-2">
            <p>Nos siga nas redes sociais:</p>
          </div>
          <div class="item px-2">
            <a href="https://facebook.com/"
              ><i class="fab fa-facebook-f"></i
            ></a>
          </div>
          <div class="item px-2">
            <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
          </div>
          <div class="item px-2">
            <a href="https://instagram.com/"
              ><i class="fab fa-instagram"></i
            ></a>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div class="item px-2">
            <p><i class="fab fa-whatsapp"></i> (11) 99999-9999</p>
          </div>
          <div class="item px-2">
            <p><i class="fas fa-map-marker-alt"></i> Rua da Paz, 797</p>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-expand-lg pb-2 pt-0">
        <div class="container">
          <a class="navbar-brand" th:href="@{'/?idCliente=' + ${idCliente}}">
            <h2 class="red-text">Ciber<span class="green-text">Pizza</span></h2>
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link" th:href="@{'/?idCliente=' + ${idCliente}}"
                  >Início</a
                >
              </li>

              <li class="nav-item">
                <a
                  class="nav-link"
                  th:href="@{'/?idCliente=' + ${idCliente} + '#sobre'}"
                  >Sobre</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  th:href="@{'/?idCliente=' + ${idCliente} + '#cardapio'}"
                  >Cardápio
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  th:href="@{'/?idCliente=' + ${idCliente} + '#avaliacoes'}"
                  >Avaliações</a
                >
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Perfil
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a
                      class="dropdown-item"
                      th:href="@{'/perfil?idCliente=' + ${idCliente}}"
                      >Meu Perfil</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      th:href="@{'/pedido?idCliente=' + ${idCliente}}"
                      >Fazer Pedido</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      th:href="@{'/historico?idCliente=' + ${idCliente}}"
                      >Histórico de Pedidos</a
                    >
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a class="dropdown-item" href="/perfil/sair">Sair</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  th:href="@{'/?idCliente=' + ${idCliente} + '#contato'}"
                  >Contato</a
                >
              </li>
            </ul>
            <a class="btn" th:href="@{'/carrinho?idCliente=' + ${idCliente}}">
              <i class="fas fa-shopping-cart"></i>
            </a>
          </div>
        </div>
      </nav>
    </header>

    <main class="h-100 h-custom bg-light-gray">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col">
            <div class="card">
              <div class="card-body p-4">
                <div class="row">
                  <div class="col-lg-7">
                    <h5 class="mb-3">
                      <a
                        th:href="@{'/pedido?idCliente=' + ${idCliente}}"
                        class="text-body"
                        ><i class="fas fa-long-arrow-alt-left me-2"></i>Voltar
                        ao pedido
                      </a>
                    </h5>
                    <hr />

                    <div
                      class="d-flex justify-content-between align-items-center mb-4"
                    >
                      <div>
                        <p class="mb-1">
                          Aqui está onde a mágica acontece. Seu carrinho é o
                          lugar onde suas escolhas ganham vida, onde o sabor se
                          transforma em realidade. Tudo que você adorou em nosso
                          cardápio está agora esperando por você. Personalize
                          seu pedido, faça ajustes, adicione ou remova, e crie a
                          refeição perfeita para você. Quando estiver pronto,
                          basta finalizar o pedido, e nós cuidaremos do resto.
                          Sabor e conveniência em um só lugar - essa é a
                          experiência CiberPizza.
                        </p>
                        <p class="mb-0">
                          Você tem
                          <span th:text="${itensPedido.size()}">0 ></span> itens
                          no seu carrinho.
                        </p>
                      </div>
                    </div>

                    <div th:each="item : ${itensPedido}" class="card mb-3">
                      <div class="card-body">
                        <div class="d-flex justify-content-between">
                          <div class="d-flex flex-row align-items-center">
                            <div>
                              <img
                                th:src="${item.produto.urlImagem}"
                                class="img-fluid rounded-3"
                                alt="Item"
                                style="width: 65px"
                              />
                            </div>
                            <div class="ms-3">
                              <h5
                                th:text="${item.produto.nome + ' - ' + {item.tamanho.name() == 'MEDIA' ? 'Média' : item.tamanho.name() == 'GRANDE' ? 'Grande' : 'Pequena'}}"
                              >
                                Nome do Item
                              </h5>
                              <p
                                class="small mb-0 d-inline-block text-truncate"
                                style="max-width: 350px"
                                th:text="${item.produto.descricao}"
                              >
                                Descrição do Item
                              </p>
                            </div>
                          </div>
                          <div class="d-flex flex-row align-items-center">
                            <div style="width: 50px">
                              <p class="small mb-0">Qtd.</p>
                              <h5
                                class="fw-normal mb-0"
                                th:text="${item.quantidade}"
                              >
                                0
                              </h5>
                            </div>
                            <div style="width: 100px">
                              <h5
                                class="mb-0"
                                th:with="novoValor=${item.tamanho.name() == 'MEDIA' ? item.produto.valor + 10 : item.tamanho.name() == 'GRANDE' ? item.produto.valor + 20 : item.produto.valor}"
                                th:text="'R$ ' + ${#numbers.formatDecimal(novoValor, 1, 'POINT', 2, 'COMMA')}"
                              ></h5>
                              <p class="small mb-0">Cad. Unidade</p>
                            </div>
                            <div class="ms-3">
                              <a
                                th:href="@{'/carrinho/removerItem/' + ${item.id} + '?idCliente=' + ${idCliente}}"
                                style="color: #cecece"
                                ><i class="fas fa-trash-alt"></i
                              ></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-5">
                    <div class="card bg-red text-white rounded-3">
                      <div class="card-body">
                        <div
                          class="d-flex justify-content-between align-items-center mb-4"
                        >
                          <h5 class="mb-0">Pagamento</h5>
                        </div>

                        <p class="small mb-2">Tipos aceitos:</p>
                        <div
                          class="d-flex justify-content-around mb-4 p-2 rounded-3"
                        >
                          <i
                            class="fab fa-cc-visa fa-2x me-2"
                            alt="Visa"
                            title="Visa"
                          ></i>
                          <i
                            class="fab fa-cc-mastercard fa-2x me-2"
                            alt="Mastercard"
                            title="Mastercard"
                          ></i>
                          <i
                            class="fab fa-cc-amex fa-2x me-2"
                            alt="Amex"
                            title="Amex"
                          ></i>
                          <i
                            class="fas fa-money-check fa-2x me-2"
                            alt="Boleto Bancário"
                            title="Boleto Bancário"
                          ></i>
                          <i
                            class="fas fa-money-bill-alt fa-2x me-2"
                            alt="Transferência Bancária"
                            title="Transferência Bancária"
                          ></i>
                          <i
                            class="fab fa-pix fa-2x me-2"
                            alt="Pagamento Digital (Pix)"
                            title="Pagamento Digital (Pix)"
                          ></i>
                          <i
                            class="fab fa-cc-visa fa-2x me-2"
                            alt="Cartão de Débito"
                            title="Cartão de Débito"
                          ></i>
                          <i
                            class="fab fa-cc-mastercard fa-2x me-2"
                            alt="Cartão de Débito"
                            title="Cartão de Débito"
                          ></i>
                          <i
                            class="fas fa-money-bill-wave fa-2x me-2"
                            alt="Dinheiro/Cheque"
                            title="Dinheiro/Cheque"
                          ></i>
                        </div>

                        <form
                          th:action="@{'/pedido/finalizarPedido/' + ${numeroPedido} + '?idCliente=' + ${idCliente}}"
                          method="post"
                          novalidate
                          th:object="${pedidoDTO}"
                        >
                          <label for="forma-pagamento">
                            Forma de pagamento
                          </label>
                          <select
                            id="forma-pagamento"
                            class="form-select mb-3"
                            aria-label="Forma de pagamento"
                            th:field="*{formaPagamento}"
                          >
                            <option value="DINHEIRO" selected>Dinheiro</option>
                            <option value="CARTAO_CREDITO">
                              Cartão de Crédito
                            </option>
                            <option value="CARTAO_DEBITO">
                              Cartão de Débito
                            </option>
                            <option value="PIX">Pix</option>
                            <option value="BOLETO_BANCARIO">
                              Boleto Bancário
                            </option>
                            <option value="TRANSFERENCIA_BANCARIA">
                              Transferência Bancária
                            </option>
                            <option value="VALE_ALIMENTACAO">
                              Vale Alimentação
                            </option>
                            <option value="VALE_REFEICAO">Vale Refeição</option>
                          </select>

                          <hr class="my-4" />

                          <div class="card">
                            <div class="card-header">
                              <h5>Confirme seus dados</h5>
                            </div>
                            <div class="card-body">
                              <ul class="list-unstyled">
                                <div class="d-flex justify-content-between">
                                  <li>
                                    <strong>Nome:</strong>
                                    <span th:text="${cliente.nome}"
                                      >Nome do Cliente</span
                                    >
                                  </li>
                                  <li>
                                    <strong>CPF:</strong>
                                    <span th:text="${cliente.cpf}"
                                      >CPF do Cliente</span
                                    >
                                  </li>
                                </div>
                                <div class="d-flex justify-content-between">
                                  <li>
                                    <strong>Telefone:</strong>
                                    <span th:text="${cliente.telefone}"
                                      >Telefone do Cliente</span
                                    >
                                  </li>
                                  <li>
                                    <strong>Email:</strong>
                                    <span th:text="${cliente.email}"
                                      >Email do Cliente</span
                                    >
                                  </li>
                                </div>
                                <li>
                                  <i class="fas fa-map-marker-alt"></i>
                                  <strong>Endereço:</strong>
                                  <span th:text="${cliente.enderecoEntrega}"
                                    >Endereço do Cliente</span
                                  >
                                </li>
                              </ul>
                            </div>
                            <div class="card-footer">
                              <a
                                th:href="@{'/perfil?idCliente=' + ${idCliente}}"
                                class="btn bg-blue btn-block btn-lg w-100"
                              >
                                <div class="d-flex justify-content-between">
                                  <span>Editar Endereço</span>
                                  <span
                                    ><i
                                      class="fas fa-long-arrow-alt-right ms-2"
                                    ></i
                                  ></span>
                                </div>
                              </a>
                            </div>
                          </div>

                          <hr class="my-4" />

                          <div class="d-flex justify-content-between">
                            <p class="mb-2">Subtotal</p>
                            <p
                              class="mb-2"
                              th:text="'R$ ' + ${#numbers.formatDecimal(valorTotal, 1, 'POINT', 2, 'COMMA')}"
                            >
                              Valor Total
                            </p>
                          </div>

                          <div class="d-flex justify-content-between">
                            <p class="mb-2">Taxa de entrega</p>
                            <p class="mb-2">R$ 10,00</p>
                          </div>

                          <div class="d-flex justify-content-between mb-4">
                            <p class="mb-2">Total(C/ Taxa)</p>
                            <p
                              class="mb-2"
                              th:text="'R$ ' + ${#numbers.formatDecimal(valorTotal + 10, 1, 'POINT', 2, 'COMMA')}"
                            >
                              Valor Total (C/ Taxa)
                            </p>
                          </div>

                          <button
                            type="submit"
                            class="btn btn-green btn-block btn-lg w-100"
                          >
                            <div class="d-flex justify-content-between">
                              <span
                                th:text="'R$ ' + ${#numbers.formatDecimal(valorTotal + 10, 1, 'POINT', 2, 'COMMA')}"
                              ></span>
                              <span
                                >Finalizar Pedido
                                <i class="fas fa-long-arrow-alt-right ms-2"></i
                              ></span>
                            </div>
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer id="footer" class="footer">
      <div class="container">
        <div class="row gy-3">
          <div class="col-lg-3 col-md-6 d-flex">
            <i class="bi bi-geo-alt icon"></i>
            <div>
              <h4>Nosso Endereço</h4>
              <p>
                R. da Paz, 797 - Chácara Santo Antônio (Zona Sul) São Paulo -
                SP, 02327-060
              </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 footer-links d-flex">
            <i class="bi bi-telephone icon"></i>
            <div>
              <h4>Pode pedir</h4>
              <p>
                <strong>Telefone:</strong> +55 11 99999-9999<br />
                <strong>Email:</strong> contato@ciberpizza.com<br />
              </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 footer-links d-flex">
            <i class="bi bi-clock icon"></i>
            <div>
              <h4>Nosso Horário</h4>
              <div>
                <strong>Segunda-feira - Sábado: </strong>: 18h - 23h;
                <strong>Domingo:</strong>: 16h - 23h;
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nossas Redes Sociais</h4>
            <div class="social-links d-flex">
              <a href="https://twitter.com/" class="twitter"
                ><i class="bi bi-twitter"></i
              ></a>
              <a href="https://facebook.com/" class="facebook"
                ><i class="bi bi-facebook"></i
              ></a>
              <a href="https://instagram.com/" class="instagram"
                ><i class="bi bi-instagram"></i
              ></a>
              <a href="https://www.linkedin.com/" class="linkedin"
                ><i class="bi bi-linkedin"></i
              ></a>
              <a href="https://github.com/" class="github"
                ><i class="bi bi-github"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Rafael</span></strong
          >. Todos os direitos reservados.
        </div>
        <div class="credits">
          Desenvolvido por
          <a href="https://www.linkedin.com/in/rafaelmachadobr/"
            >Rafael Machado</a
          >
        </div>
      </div>
    </footer>

    <button class="scroll-top d-flex align-items-center justify-content-center">
      <i class="fa-solid fa-arrow-up"></i>
    </button>

    <div id="preloader"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="assets/js/script.js"></script>
  </body>
</html>
