<!DOCTYPE html>
<html
  lang="pt-br"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>CiberPizza - Paixão e Inovação</title>

    <link rel="shortcut icon" href="assets/img/logo.png" type="image/x-icon" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="assets/css/style.css" />
  </head>
  <body>
    <header>
      <div class="container d-flex justify-content-between p-2">
        <div class="d-flex justify-content-between">
          <div class="item px-2">
            <p>Nos siga nas redes sociais:</p>
          </div>
          <div class="item px-2">
            <a href="https://facebook.com/"
              ><i class="fab fa-facebook-f"></i
            ></a>
          </div>
          <div class="item px-2">
            <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
          </div>
          <div class="item px-2">
            <a href="https://instagram.com/"
              ><i class="fab fa-instagram"></i
            ></a>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div class="item px-2">
            <p><i class="fab fa-whatsapp"></i> (11) 99999-9999</p>
          </div>
          <div class="item px-2">
            <p><i class="fas fa-map-marker-alt"></i> Rua da Paz, 797</p>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-expand-lg pb-2 pt-0">
        <div class="container">
          <a class="navbar-brand" th:href="@{'/?idCliente=' + ${idCliente}}">
            <h2 class="red-text">Ciber<span class="green-text">Pizza</span></h2>
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link" th:href="@{'/?idCliente=' + ${idCliente}}"
                  >Início</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#sobre">Sobre</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#cardapio">Cardápio </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#avaliacoes">Avaliações</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Perfil
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a
                      class="dropdown-item"
                      th:href="@{'/perfil?idCliente=' + ${idCliente}}"
                      >Meu Perfil</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      th:href="@{'/pedido?idCliente=' + ${idCliente}}"
                      >Fazer Pedido</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      th:href="@{'/historico?idCliente=' + ${idCliente}}"
                      >Histórico de Pedidos</a
                    >
                  </li>

                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a class="dropdown-item" href="/perfil/sair">Sair</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contato">Contato</a>
              </li>
            </ul>
            <a class="btn" th:href="@{'/carrinho?idCliente=' + ${idCliente}}">
              <i class="fas fa-shopping-cart"></i>
            </a>
          </div>
        </div>
      </nav>
    </header>

    <section
      class="hero d-flex align-items-center section-bg bg-light-gray p-5"
    >
      <div class="container">
        <div class="row justify-content-between gy-5">
          <div
            class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start"
          >
            <h1 class="font-weight-bold red-text">Bem-Vindo à CiberPizza</h1>
            <h3 class="font-weight-bold green-text">
              No Coração do Brooklin, São Paulo
            </h3>
            <p>
              Bem-vindo ao CiberPizza, onde tradição italiana se encontra com
              inovação sustentável, sabor saudável e preços acessíveis! Descubra
              nossa paixão por pizza e nosso compromisso com ingredientes
              frescos, sustentáveis e deliciosos. Explore nosso cardápio e
              mergulhe em uma experiência que agrada seu paladar o planeta.
            </p>
            <a
              th:href="@{'/pedido?idCliente=' + ${idCliente}}"
              class="btn px-5 py-2"
              >Pedir Agora</a
            >
          </div>
          <div class="col-lg-5 order-1 order-lg-2 text-center">
            <img
              src="assets/img/logo.png"
              class="img-fluid"
              alt="pizza"
              width="400"
              height="400"
            />
          </div>
        </div>
      </div>
    </section>

    <main id="main">
      <section class="p-5" id="sobre">
        <div class="container">
          <div class="row my-5 text-center">
            <h2 class="font-weight-bold red-text">Nossas Raízes Italianas</h2>
            <p class="m-auto w-75">
              A Itália é a nossa inspiração e herança culinária. Com receitas
              transmitidas de geração em geração, nossas pizzas carregam a
              autenticidade da tradição italiana. Cada mordida é uma viagem ao
              coração da cozinha italiana, repleta de sabores intensos e
              ingredientes de qualidade.
            </p>
          </div>

          <div class="row gy-4">
            <div
              class="col-lg-7 position-relative about-img"
              style="
                background-image: url(assets/img/pexels-photo-1653702.jpeg);
              "
            ></div>
            <div class="col-lg-5 d-flex align-items-end">
              <div class="content ps-0 ps-lg-5">
                <p class="fst-italic">Compromisso com a Comunidade</p>
                <ul>
                  <li>
                    <i class="bi bi-check2-all"></i> Fazer parte da nossa
                    comunidade é essencial. A CiberPizza está empenhada em
                    retribuir, apoiando iniciativas locais e causas ambientais.
                    Cada pedido que você faz contribui para um mundo mais
                    sustentável, graças ao nosso compromisso com a
                    responsabilidade social.
                  </li>
                </ul>
                <p>Sabor Feito Sob Encomenda</p>
                <p>
                  Na CiberPizza, acreditamos que a pizza deve ser tão única
                  quanto você. Com nosso sistema de pedidos on-line
                  personalizado, você tem o controle total sobre suas escolhas
                  de cobertura. Crie a pizza dos seus sonhos, do tamanho à
                  combinação de ingredientes, e desfrute de um sabor feito sob
                  medida.
                </p>

                <div class="position-relative mt-4">
                  <img
                    src="assets/img/pexels-photo-905847.jpeg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="why-us bg-light-gray p-5">
        <div class="container">
          <div class="row gy-4">
            <div class="col-lg-4">
              <div class="why-box">
                <h3>Porque escolher a CiberPizza?</h3>
                <p>
                  A CiberPizza oferece uma experiência culinária excepcional,
                  combinando tradição e inovação. Nossa paixão pela autêntica
                  pizza italiana é evidente em cada pedaço. Saiba por que somos
                  a escolha perfeita para os amantes de pizza.
                </p>
                <div class="text-center">
                  <a
                    th:href="@{'/sobre?idCliente=' + ${idCliente}}"
                    class="btn more-btn"
                    >Saiba Mais <i class="fa solid fa-arrow-right pl-2"></i
                  ></a>
                </div>
              </div>
            </div>

            <div class="col-lg-8 d-flex align-items-center">
              <div class="row gy-4">
                <div class="col-xl-4">
                  <div
                    class="icon-box d-flex flex-column justify-content-center align-items-center"
                  >
                    <i class="fas fa-pizza-slice" style="color: #9b0000"></i>
                    <h4>Autenticidade Italiana</h4>
                    <p>
                      Nossas receitas tradicionais e ingredientes de qualidade
                      garantem a verdadeira experiência italiana em cada fatia.
                    </p>
                  </div>
                </div>

                <div class="col-xl-4">
                  <div
                    class="icon-box d-flex flex-column justify-content-center align-items-center"
                  >
                    <i class="fas fa-star" style="color: #9b0000"></i>
                    <h4>Inovação e Qualidade</h4>
                    <p>
                      Compromisso com a qualidade e inovação constante para
                      criar pizzas excepcionais.
                    </p>
                  </div>
                </div>

                <div class="col-xl-4">
                  <div
                    class="icon-box d-flex flex-column justify-content-center align-items-center"
                  >
                    <i class="fas fa-utensils" style="color: #9b0000"></i>
                    <h4>Experiência Inigualável</h4>
                    <p>
                      Nossa paixão pela culinária italiana se traduz em uma
                      experiência gastronômica única para nossos clientes.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="cardapio" class="p-5">
        <div class="container">
          <div class="row mt-5 text-center">
            <h2 class="font-weight-bold red-text">Nosso Cardápio</h2>
            <p class="m-auto w-75">
              Explore a variedade de sabores que a CiberPizza tem a oferecer.
              Nossas opções de pizza são cuidadosamente preparadas para
              satisfazer todos os gostos. Escolha entre uma ampla gama de
              coberturas e tamanhos para criar a pizza perfeita de acordo com
              seus desejos.
            </p>
          </div>

          <div
            class="row row-cols-1 row-cols-md-4 my-2 align-items-center justify-content-center gy-4"
          >
            <div th:each="pizza : ${listaPizzas}">
              <div class="col">
                <div class="card h-100">
                  <img
                    th:src="@{${pizza.urlImagem}}"
                    class="card-img-top"
                    style="
                      min-height: 300px;
                      min-width: 200px;
                      object-fit: cover;
                      display: block;
                    "
                    alt="Imagem da Pizza"
                  />
                  <div
                    class="card-body"
                    style="min-height: 150px; min-width: 200px"
                  >
                    <h5 class="card-title" th:text="${pizza.nome}">
                      Nome da Pizza
                    </h5>
                    <p
                      class="card-text d-inline-block text-truncate"
                      style="max-width: 100%"
                      th:text="${pizza.descricao}"
                    >
                      Descrição da Pizza
                    </p>
                  </div>

                  <a
                    th:href="@{'/pedido?idCliente=' + ${idCliente}}"
                    class="btn w-100"
                    >Pedir Agora <i class="fa solid fa-arrow-right pl-2"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="avaliacoes" class="testimonials bg-light-gray p-5">
        <div class="container">
          <div class="section-header my-5 text-center">
            <h2 class="font-weight-bold red-text">Avalliações</h2>
            <p class="m-auto w-50">
              O que <span class="green-text">dizem sobre nós</span>
            </p>
          </div>

          <div class="slides-1 swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="row gy-4 justify-content-center">
                    <div class="col-lg-6">
                      <div class="testimonial-content">
                        <p>
                          <i class="bi bi-quote quote-icon-left"></i>
                          A CiberPizza é simplesmente incrível! Cada vez que
                          peço uma de suas pizzas, é como se eu estivesse
                          viajando diretamente para a Itália. A autenticidade de
                          suas receitas e a qualidade de seus ingredientes são
                          incomparáveis. Não posso deixar de pedir novamente!
                          <i class="bi bi-quote quote-icon-right"></i>
                        </p>
                        <h3>Lucas Martins</h3>
                        <div class="stars">
                          <i class="bi bi-star-fill"></i
                          ><i class="bi bi-star-fill"></i
                          ><i class="bi bi-star-fill"></i
                          ><i class="bi bi-star-fill"></i
                          ><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-2 text-center">
                      <img
                        src="assets/img/testimonials/testimonials-1.jpg"
                        class="img-fluid testimonial-img"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="row gy-4 justify-content-center">
                    <div class="col-lg-6">
                      <div class="testimonial-content">
                        <p>
                          <i class="bi bi-quote quote-icon-left"></i>
                          Se você está procurando qualidade e inovação em
                          pizzas, a CiberPizza é a escolha certa. Cada pizza que
                          experimento é uma experiência única. Eles conseguem
                          combinar tradição italiana com toques inovadores que
                          tornam cada pedaço simplesmente delicioso.
                          <i class="bi bi-quote quote-icon-right"></i>
                        </p>
                        <h3>Maria Nakamura</h3>
                        <div class="stars">
                          <i class="bi bi-star-fill"></i
                          ><i class="bi bi-star-fill"></i
                          ><i class="bi bi-star-fill"></i
                          ><i class="bi bi-star-fill"></i
                          ><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-2 text-center">
                      <img
                        src="assets/img/testimonials/testimonials-2.jpg"
                        class="img-fluid testimonial-img"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="row gy-4 justify-content-center">
                    <div class="col-lg-6">
                      <div class="testimonial-content">
                        <p>
                          <i class="bi bi-quote quote-icon-left"></i>
                          A CiberPizza é o meu lugar favorito para desfrutar de
                          uma experiência gastronômica excepcional. A variedade
                          de sabores e a atenção aos detalhes são
                          impressionantes. Eu recomendo a todos os amantes de
                          pizza!
                          <i class="bi bi-quote quote-icon-right"></i>
                        </p>
                        <h3>Ana Oliveira</h3>
                        <div class="stars">
                          <i class="bi bi-star-fill"></i
                          ><i class="bi bi-star-fill"></i
                          ><i class="bi bi-star-fill"></i
                          ><i class="bi bi-star-fill"></i
                          ><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-2 text-center">
                      <img
                        src="assets/img/testimonials/testimonials-3.jpg"
                        class="img-fluid testimonial-img"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="row gy-4 justify-content-center">
                    <div class="col-lg-6">
                      <div class="testimonial-content">
                        <p>
                          <i class="bi bi-quote quote-icon-left"></i>
                          Não consigo encontrar palavras para descrever o quão
                          incrível é a CiberPizza. Cada sabor é uma verdadeira
                          obra-prima, e eles mantêm consistentemente a alta
                          qualidade em todos os aspectos. Se você é um
                          verdadeiro entusiasta da pizza, este é o lugar para
                          estar!
                          <i class="bi bi-quote quote-icon-right"></i>
                        </p>
                        <h3>Gabriel Silva</h3>
                        <div class="stars">
                          <i class="bi bi-star-fill"></i
                          ><i class="bi bi-star-fill"></i
                          ><i class="bi bi-star-fill"></i
                          ><i class="bi bi-star-fill"></i
                          ><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-2 text-center">
                      <img
                        src="assets/img/testimonials/testimonials-4.jpg"
                        class="img-fluid testimonial-img"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section>

      <section id="contato" class="contact p-5">
        <div class="container">
          <div class="row my-2 text-center">
            <h2 class="font-weight-bold red-text">Contato</h2>
            <p>Precisa de ajuda? <span>Entre em contato conosco</span></p>
          </div>

          <div class="mb-3">
            <iframe
              title="mapa"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3655.206966351739!2d-46.699370624737604!3d-23.632757964218964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce50eeddc191bf%3A0x2c5a106b5eb74465!2sR.%20da%20Paz%2C%20797%20-%20Ch%C3%A1cara%20Santo%20Ant%C3%B4nio%20(Zona%20Sul)%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2002327-060!5e0!3m2!1spt-BR!2sbr!4v1697500567749!5m2!1spt-BR!2sbr"
              style="border: 0; width: 100%; height: 350px"
              allowfullscreen
            ></iframe>
          </div>

          <div class="row gy-4">
            <div class="col-md-6">
              <div class="info-item d-flex align-items-center">
                <i class="icon bi bi-map flex-shrink-0"></i>
                <div>
                  <h3>Nosso Endereço</h3>
                  <p>
                    R. da Paz, 797 - Chácara Santo Antônio (Zona Sul) São Paulo
                    - SP, 02327-060
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="info-item d-flex align-items-center">
                <i class="icon bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h3>Nosso Email</h3>
                  <p>
                    <a
                      href="mailto:contato@ciberpizza.com"
                      target="_blank"
                      class="text-dark"
                    >
                      contato@ciberpizza.com
                    </a>
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="info-item d-flex align-items-center">
                <i class="icon bi bi-telephone flex-shrink-0"></i>
                <div>
                  <h3>Telefone</h3>
                  <p>
                    <a
                      href="tel:+5511999999999"
                      target="_blank"
                      class="text-dark"
                    >
                      +55 11 99999-9999
                    </a>
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="info-item d-flex align-items-center">
                <i class="icon bi bi-share flex-shrink-0"></i>
                <div>
                  <h3>Nosso Horário</h3>
                  <div>
                    <strong>Segunda-feira - Sábado: </strong>: 18h - 23h;
                    <strong>Domingo:</strong>: 16h - 23h;
                  </div>
                </div>
              </div>
            </div>
          </div>

          <form
            class="p-3 p-md-4 g-3 needs-validation email-form"
            th:action="@{'/contato?idCliente=' + ${idCliente}}"
            method="post"
            novalidate
            th:object="${contato}"
          >
            <div class="row">
              <div class="col-xl-6 form-group">
                <label for="nome" class="form-label">Nome</label>
                <input
                  type="text"
                  class="form-control"
                  id="nome"
                  th:field="*{nome}"
                  required
                  placeholder="Digite seu nome"
                />
                <div class="valid-feedback">Parece bom!</div>
                <div class="invalid-feedback">Por favor, digite seu nome.</div>
              </div>
              <div class="col-xl-6 form-group">
                <label for="email" class="form-label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  th:field="*{email}"
                  required
                  placeholder="Digite seu email"
                />
                <div class="valid-feedback">Parece bom!</div>
                <div class="invalid-feedback">
                  Por favor, digite um email válido.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="assunto" class="form-label">Assunto</label>
              <input
                type="text"
                class="form-control"
                th:field="*{assunto}"
                id="assunto"
                required
                placeholder="Digite o assunto"
              />
              <div class="valid-feedback">Parece bom!</div>
              <div class="invalid-feedback">Por favor, digite o assunto.</div>
            </div>
            <div class="form-group">
              <label for="mensagem" class="form-label">Mensagem</label>
              <textarea
                class="form-control"
                id="mensagem"
                th:field="*{mensagem}"
                placeholder="Deixe sua mensagem aqui"
                rows="5"
                required
              ></textarea>
              <div class="valid-feedback">Parece bom!</div>
              <div class="invalid-feedback">
                Por favor, digite uma mensagem válida.
              </div>
            </div>
            <div class="text-center">
              <button class="btn" type="submit" id="submitFormBtn">
                Enviar Mensagem
              </button>
            </div>
          </form>
        </div>
      </section>
    </main>

    <footer id="footer" class="footer">
      <div class="container">
        <div class="row gy-3">
          <div class="col-lg-3 col-md-6 d-flex">
            <i class="bi bi-geo-alt icon"></i>
            <div>
              <h4>Nosso Endereço</h4>
              <p>
                R. da Paz, 797 - Chácara Santo Antônio (Zona Sul) São Paulo -
                SP, 02327-060
              </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 footer-links d-flex">
            <i class="bi bi-telephone icon"></i>
            <div>
              <h4>Pode pedir</h4>
              <p>
                <strong>Telefone:</strong> +55 11 99999-9999<br />
                <strong>Email:</strong> contato@ciberpizza.com<br />
              </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 footer-links d-flex">
            <i class="bi bi-clock icon"></i>
            <div>
              <h4>Nosso Horário</h4>
              <div>
                <strong>Segunda-feira - Sábado: </strong>: 18h - 23h;
                <strong>Domingo:</strong>: 16h - 23h;
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nossas Redes Sociais</h4>
            <div class="social-links d-flex">
              <a href="https://twitter.com/" class="twitter"
                ><i class="bi bi-twitter"></i
              ></a>
              <a href="https://facebook.com/" class="facebook"
                ><i class="bi bi-facebook"></i
              ></a>
              <a href="https://instagram.com/" class="instagram"
                ><i class="bi bi-instagram"></i
              ></a>
              <a href="https://www.linkedin.com/" class="linkedin"
                ><i class="bi bi-linkedin"></i
              ></a>
              <a href="https://github.com/" class="github"
                ><i class="bi bi-github"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Rafael</span></strong
          >. Todos os direitos reservados.
        </div>
        <div class="credits">
          Desenvolvido por
          <a href="https://www.linkedin.com/in/rafaelmachadobr/"
            >Rafael Machado</a
          >
        </div>
      </div>
    </footer>

    <div class="toast-container position-fixed top-0 end-0 p-3">
      <div
        id="liveToast"
        class="toast"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="toast-header">
          <strong class="me-auto">Mensagem enviada!</strong>
          <small>Agora</small>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
        <div class="toast-body">
          Obrigado por entrar em contato conosco! Em breve retornaremos sua
          mensagem.
        </div>
      </div>
    </div>

    <button class="scroll-top d-flex align-items-center justify-content-center">
      <i class="fa-solid fa-arrow-up"></i>
    </button>

    <div id="preloader"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="assets/js/script.js"></script>
  </body>
</html>
